.PageContent {
  flex: 1;
  display: flex;
  gap: 16px;
  padding: 8px;
  justify-content: space-between;
}

.CreatePointFormComponent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:16px;
  flex-wrap: wrap;

  .InputContainer {
    display: flex;

  }

  .ActionsContainer {
    display: flex;
    gap: 24px;
  }
}
