.CreateRectangleFormComponent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:16px;
  background-color: #C4C4C4;
  padding: 16px 0;

  .ActionsContainer {
    display: flex;
    gap: 24px;
  }
}
.InputCheckBox{
  display: flex;
}
.InputContainer{
  display: flex;
}
.PointListSelect{
  display: flex;
  gap: 8px;
}
.CheckBoxColor{
  color: #03f4a7;
}
.SelectCircle{
  display: flex;
  gap: 8px;
}
.CheckPointsForCenter{
  width: 200px;
}
