.TriangleListItem {
  background: #252049;
  min-width: 320px;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
  position: relative;
}

.Avatar {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid #2ba6a7;
}

.deleteIcon {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 8px;
}
